* {
  margin: 0px;
}

header {
  background-color: #282c34;
  color: white;
  height: 150px;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

main {
  color: black;
  padding: 20px;
}

#lomake {
  background-color: whitesmoke;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#sitaatit {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#nappi {
  margin-left: 58px;
}

#sitaatti {
  padding: 5px;
  margin: 5px;
  background-color: whitesmoke;
}